# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/
*.spec

# Virtual environment
venv/
.venv/
env/
.env/
ENV/
*/activate

# IDE / Editor specific files
.idea/
.vscode/
*.swp
*.swo

# Data files (especially large ones like the NIST CSV)
# You might want to commit small sample data, but generally ignore large datasets
*.csv
*.json
*.xml
*.xlsx

# Operating System files
.DS_Store
Thumbs.db
